* {
  margin:0; 
}

body {
  background-image: url(euros.jpg);
  background-position: center; 
  width: 100vw;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;

}

.final {
  color: black;
  font-weight:bold;
  text-align: center;
  font-size:4em;
}


.pay, 
.hours, 
.days {
  width: 20em;
  padding:1em;
  margin-left:40vw;
  background-color: blue;
  color:white;
}


p {
  text-align:center;
  font-size:2em;
  font-weight:bold;
}

button{
  margin-left:40vw;
  font-size:1em;
  background-color: black;
  color:white;
  padding: .8em;
  border-radius: 30%;


}